.m-table {
    width: 100%;
    border-collapse: collapse;

    .m-table__action {
        text-align: right;
    }

    .m-table__row--not-selectable {
        pointer-events: none;
        opacity: .5;
    }

    &__image {
        position: relative;
        top: 2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    text {
        fill: $white;
    }

    &.m-table--selectable {
        tbody tr {
            td {
                height: 68px;
            }

            cursor: pointer;
        }

        tbody tr:hover td {
            // opacity: 0.7;
            background-color: $grey-dark !important;
        }
    }

    thead {
        tr {
            th {
                button {
                    background: none;
                    margin: 0;
                    padding: 0;
                    font-weight: normal;
                    font-size: .9rem;
                    color: $grey-light;
                    border: none;
                }

                text-align: left;
                font-weight: normal;
                font-size: .9rem;
                color: $grey-light;
                padding-bottom: $spacer-small;

                &:first-of-type {
                    padding-left: $spacer;
                }

                &:last-of-type {
                    padding-right: $spacer;
                }
            }
        }
    }

    tbody {
        tr {
            th, td {
                border: none;
                padding: $spacer 0;

                &:first-of-type {
                    padding-left: $spacer;
                }

                &:last-of-type {
                    padding-right: $spacer;
                }
            }

            & {
                td:first-child {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }

                td:last-child {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            }

            &:nth-child(odd) {
                td {
                    background-color: $grey-darker;
                }
            }
        }
    }
}
