.m-tab {
    border-bottom: 1px solid $grey-darker;

    .m-tab__item {
        display: inline-block;
        padding: $spacer;
        color: $white;

        // &:not(:last-of-type) {
        //     border-right: 1px solid $grey-darker;
        // }

        &--active {
            margin-bottom: -1px;
            border-bottom: 2px solid var(--color-primary);
        }
    }
}
