<div class="m-empty-state">
    <img class="m-empty-state__image" src="/assets/img/empty-states/ship.png" />
    <h3 class="m-empty-state__title">You do not belong to any radio station</h3>
    <p class="m-empty-state__description">You either created a new account, or have been kicked from your radio</p>
    <div class="u-margin-top-lg">
        <a routerLink="/tenants/create" class="a-button a-button--success">Create a new radio station</a>
        <span class="u-margin-right u-margin-left-sm">or</span>
        <button class="a-button a-button--outline a-button--warning" (click)="logout()">Logout</button>
    </div>
</div>
