<app-header emptyTitle="Forms">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Create form</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <app-loading [loading]="loading$ | async">
            <app-empty-state
                [empty]="(forms$ | async).length === 0"
                image="/assets/img/empty-states/search.png"
                emptyTitle="You have no forms"
                description="Forms allow you to collect user data (for example: applications, reports, etc...). Create one with the button on top."
            >
                <table class="m-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Entries #</th>
                            <th style="width: 150px;">Last updated</th>
                            <th style="width: 110px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let form of (forms$ | async)">
                            <td>{{ form.name }}</td>
                            <td>{{ form?.entries?.length || 0 }}</td>
                            <td>{{ form.updatedAt | amTimeAgo }}</td>
                            <td>
                                <a [routerLink]="[form.uuid, 'entries']" class="a-button a-button--small a-button--success u-margin-right-xs">
                                    <span class="uil uil-eye"></span>
                                </a>
                                <a [routerLink]="form.uuid" class="a-button a-button--small">
                                    <span class="uil uil-pen"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-pagination
                    [currentPage]="(pagination$ | async)?.currentPage"
                    [totalValues]="(pagination$ | async)?.totalEntities"
                    [itemsPerPage]="(pagination$ | async)?.itemsPerPage"
                    (update)="onPageUpdate($event)">
                </app-pagination>
            </app-empty-state>
        </app-loading>
    </div>
</div>
