<app-header description="Roles" emptyTitle="Create role"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    General
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('name')"
                label="Role name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('weight')"
                label="Weight"
                type="number"
            ></app-text-input>
        </div>
        <app-permission-selector
            [formControl]="form.get('permissions')"
        ></app-permission-selector>
        <div class="o-page__section">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
        </div>
    </form>
</div>
