<app-header description="User" [emptyTitle]="'Editing ' + form?.get('username')?.value"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('username')"
                label="Username"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('email')"
                label="Email"
                type="email"
            ></app-text-input>
            <app-textarea-input
                [formControl]="form.get('bio')"
                label="Bio"
                type="bio"
            ></app-textarea-input>
            <app-file-input
                [formControl]="form.get('avatar')"
                label="Avatar"
            ></app-file-input>
            <app-role-input
                [formControl]="form.get('roles')"
                label="Roles"
                [multiple]="true"
            ></app-role-input>
        </div>
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Socials
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('socials').get('facebook')"
                label="Facebook"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('socials').get('twitter')"
                label="Twitter"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('socials').get('instagram')"
                label="Instagram"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('socials').get('discord')"
                label="Discord"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('socials').get('youtube')"
                label="YouTube"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('socials').get('twitch')"
                label="Twitch"
            ></app-text-input>
        </div>
        <div class="o-page__section" *ngIf="tenant$ && (tenant$ | async)?.profileFields">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Custom Fields
                </h3>
            </div>
            <div *ngFor="let field of (tenant$ | async)?.profileFields; let i = index">
                <app-dynamic-input
                    [label]="field.name || '' + field.multiLanguage && '(int)'"
                    [config]="field.config"
                    [component]="field.fieldType"
                    [subfields]="field.subfields"
                    [formControl]="form.get('customData')?.get(field.slug)"
                    [multiLanguage]="false"
                ></app-dynamic-input>
            </div>
        </div>
        <div class="o-page__section" *ngIf="(tenant$ | async)?.settings?.azuraCastIntegrationEnabled">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    AzuraCast Account
                </h3>
            </div>
            <ng-container *ngIf="findAzuraMeta()?.value">
                <p class="u-text-success"><span class="uil uil-check"></span> AzuraCast account linked: {{ findAzuraMeta()?.value?.streamer_username }}</p>
                <button class="a-button a-button--danger a-button--small a-button--outline" (click)="deleteAzuraCastAccount(findAzuraMeta()?.value?.id)">
                    <span class="uil uil-redo animate spin" *ngIf="loading"></span>
                    Delete AzuraCast account
                </button>
            </ng-container>
            <ng-container *ngIf="!findAzuraMeta()?.value">
                <p class="u-text-danger"><span class="uil uil-times"></span> AzuraCast account not linked, create an account using the button below</p>
                <button class="a-button a-button--info a-button--small a-button--outline" (click)="createAzuraCastAccount()">
                    <span class="uil uil-redo animate spin" *ngIf="loading"></span>
                    Create AzuraCast account
                </button>
            </ng-container>
        </div>
        <app-permission-overwriter
            [enabledPermissions]="user?.permissions || []"
            [formControl]="form.get('permissions')"
        ></app-permission-overwriter>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (confirm)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
