$background-color: $grey-darkest;
$background-color-light: $grey-darkest;

$border-radius: 20px;
$border-radius-small: 15px;
$border-radius-x-small: 12px;

// Spacing
$spacer: 1rem;

$spacer-2x-large: $spacer * 3;
$spacer-x-large: $spacer * 2;
$spacer-large: $spacer * 1.5;
$spacer-small: $spacer / 1.5;
$spacer-x-small: $spacer / 2;
$spacer-2x-small: $spacer / 3;
$spacer-3x-small: $spacer / 4;
