
<div class="o-wrapper">
    <div class="o-content">
        <app-header emptyTitle="Website Terms and Conditions of Use"></app-header>
        <div class="o-page">
            <div class="o-page__section">
                <h2>1. Terms</h2>

                <p>By accessing this Website, accessible from https://*.radiopanel.co, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.

                <h2>2. Use License</h2>

                <p>Permission is granted to temporarily download one copy of the materials on RadioPanel's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

                <ul>
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose or for any public display;</li>
                    <li>attempt to reverse engineer any software contained on RadioPanel's Website;</li>
                    <li>remove any copyright or other proprietary notations from the materials; or</li>
                    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
                </ul>

                <p>This will let RadioPanel to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

                <h2>3. Disclaimer</h2>

                <p>All the materials on RadioPanel’s Website are provided "as is". RadioPanel makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, RadioPanel does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

                <h2>4. Limitations</h2>

                <p>RadioPanel or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on RadioPanel’s Website, even if RadioPanel or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

                <h2>5. Revisions and Errata</h2>

                <p>The materials appearing on RadioPanel’s Website may include technical, typographical, or photographic errors. RadioPanel will not promise that any of the materials in this Website are accurate, complete, or current. RadioPanel may change the materials contained on its Website at any time without notice. RadioPanel does not make any commitment to update the materials.</p>

                <h2>6. Links</h2>

                <p>RadioPanel has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by RadioPanel of the site. The use of any linked website is at the user’s own risk.</p>

                <h2>7. Site Terms of Use Modifications</h2>

                <p>RadioPanel may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

                <h2>8. Governing Law</h2>

                <p>Any claim related to RadioPanel's Website shall be governed by the laws of gb without regards to its conflict of law provisions.</p>
                <h2>9. Pricing & Refunds</h2>
                <p>We reserve the right to change pricing terms on any accounts and services at any time.  No services are eligible for a refund due to the nature of the service. You can however cancel your feature payments at anytime and only be billed for what you use. Any chargebacks or unauthorized refunds will be reported to our debt collection agency for collection, any fees assicated with this will be paid by the debtor. If the fee isn't paid within seven (7) days, the client risks the chance of his/her service being terminated without any refund and/or credit.</p>
                <p>PayPal subscriptions are the responsibility of the client. If the client cancels their product/service, it is their responsibility to cancel their PayPal subscription. RadioPanel ("us",  "the service provider" and "the company") is not liable to refund subscription payments or payments for renewal of services.</p>
                <h2>10. Termination</h2>
                <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason, including without limitation if you breach the Terms set out in this or any other agreement we see applicable.All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                <h2>11. Attacks and Exploits</h2>
                <p>Any activity which affects the ability of other people or systems to use any services or other Internet services. This includes "denial of service" (DOS) attacks against ourselves, another network host or individual user. Interference with or disruption of other network users, services or equipment is prohibited.</p>
                <h2>12. Indemnification</h2>
                <p>Client agrees to defend, indemnify, and hold RadioPanel ("us",  "the service provider" and "the company") harmless from any and all demands, liabilities, losses, injury, costs, and claims, including reasonable attorney's fees, asserted against us, our agents, our customers, officers and employees, that may arise or result from any service provided or performed or agreed to be performed or any product sold or supplied, infringing on proprietary rights of a third party, , copyright infringement, or defective products by customer, our agents, employees or assigns. .</p>
                <h2>13. Account limit</h2>
                <p>Only 1 account per person is allowed, exemptions may be made to "Joined show, AutoDJ, etc..." accounts. Duplicate accounts may be terminated without prior notice or liability</p>
            </div>
        </div>
    </div>
</div>
