.a-badge {
    border-radius: $border-radius;
    background-color: $grey-medium;
    color: $grey-lighter;
    padding: $spacer-3x-small $spacer-x-small;
    font-size: 0.8rem;
    font-weight: normal;
    display: inline-block;
}
