.a-button {
    background-color: $grey-darker;
    border: 2px solid $grey-darker;
    color: $grey-lighter;
    display: inline-block;
    padding: $spacer-small $spacer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .1s ease;
    font-size: .9rem;
    outline: 0;
    border-radius: $border-radius;
    cursor: pointer;

    &:disabled, &.a-button--disabled {
        background-color: $grey-dark !important;
        border: 2px solid $grey-dark !important;
        color: $grey-lighter !important;
        opacity: 0.3;
        cursor: not-allowed;
    }

    &.a-button--block {
        align-self: flex-end;
        display: block;
        width: 100%;
    }

    &.a-button--active {
        border: 2px solid var(--color-primary);
    }

    &:hover {
        background-color: $grey-darkest;
        color: $white;
    }

    &.a-button--transparant {
        border: transparent;
        background-color: transparent;
        color: $grey-light;

        &:hover {
            background-color: $white !important;
            color: $grey-dark;
        }

        &.a-button--danger {
            color: $state-danger;
            background-color: transparent;
        }

        &.a-button--warning {
            color: $state-warning;
            background-color: transparent;
        }

        &.a-button--info {
            color: $state-info;
            background-color: transparent;
        }

        &.a-button--success {
            color: $state-success;
            background-color: transparent;
        }
    }

    &.a-button--small {
        font-size: .8rem;
        padding: $spacer-x-small $spacer-small;
    }

    &.a-button--xs {
        font-size: .7rem;
        padding: $spacer-2x-small $spacer-x-small;
    }

    &.a-button--danger {
        color: $white;
        border-color: $state-danger;
        background-color: $state-danger;
    }

    &.a-button--paypal {
        color: white;
        border-color: #009cde;
        background-color: #009cde;
    }

    &.a-button--warning {
        color: $white;
        border-color: $state-warning;
        background-color: $state-warning;
    }

    &.a-button--success {
        color: $white;
        border-color: $state-success;
        background-color: $state-success;
    }

    &.a-button--info {
        color: $white;
        border-color: $state-info;
        background-color: $state-info;
    }

    &.a-button--outline {
        border: 2px solid $grey-darker;
        background-color: transparent;
        color: $grey-lighter;

        &.a-button--danger {
            border-color: $state-danger;
            color: $state-danger;

            &:hover {
                background: $state-danger;
                color: $white;
            }
        }

        &.a-button--warning {
            border-color: $state-warning;
            color: $state-warning;

            &:hover {
                background: $state-warning;
                color: $white;
            }
        }

        &.a-button--info {
            border-color: $state-info;
            color: $state-info;

            &:hover {
                background: $state-info;
                color: $white;
            }
        }

        &.a-button--success {
            border-color: $state-success;
            color: $state-success;

            &:hover {
                background: $state-success;
                color: $white;
            }
        }
    }
}

* > .a-button:not(:last-of-type) {
    margin-right: $spacer-small;
}

.a-button-input {
    display: flex;
    height: 100%;
    padding-bottom: $spacer;
}
