<app-header description="Settings" [emptyTitle]="'Email Settings'" [backLink]="['..']"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <div class="u-row">
                <div class="u-col-6">
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailBackgroundColor')"
                        label="Background color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailBoxBackgroundColor')"
                        label="Box background color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailPrimaryColor')"
                        label="Primary color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailSecondaryColor')"
                        label="Secondary color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailTextColor')"
                        label="General text color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailTitleTextColor')"
                        label="Title text color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailButtonTextColor')"
                        label="Button text color"
                    ></app-text-input>
                    <app-text-input
                        type="color"
                        [formControl]="form.get('settings').get('emailFooterTextColor')"
                        label="Footer text color"
                    ></app-text-input>
                    <app-file-input
                        [formControl]="form.get('settings').get('emailLogo')"
                        label="Email logo"
                    ></app-file-input>
                    <app-text-input
                        [formControl]="form.get('settings').get('emailFrom')"
                        label="Email from"
                    ></app-text-input>
                </div>
                <div class="u-col-6">
                    <h3>Preview</h3>
                    <div class="o-email-preview" [ngStyle]="{ 'background-color': form.get('settings').get('emailBackgroundColor')?.value }">
                        <div class="o-email-preview__header" [ngStyle]="{ 'background-color': form.get('settings').get('emailSecondaryColor')?.value }">
                            <img [src]="form.get('settings').get('emailLogo')?.value" alt="">
                        </div>
                        <div class="o-email-preview__box">
                            <div class="o-email-preview__box-top" [ngStyle]="{ 'background-color': form.get('settings').get('emailPrimaryColor')?.value }"></div>
                            <div class="o-email-preview__box-bottom" [ngStyle]="{ 'background-color': form.get('settings').get('emailBoxBackgroundColor')?.value }">
                                <h3 [ngStyle]="{ 'color': form.get('settings').get('emailTitleTextColor')?.value }">You are invited!</h3>
                                <p [ngStyle]="{ 'color': form.get('settings').get('emailTextColor')?.value }">Hey USERNAME,</p>
                                <p [ngStyle]="{ 'color': form.get('settings').get('emailTextColor')?.value }">Someone has invited you to RADIONAME</p>
                                <p [ngStyle]="{ 'color': form.get('settings').get('emailTextColor')?.value }">If you want to accept the invite, simply press the "Accept invitation" button down below. If you think you have been invited by accident you can safely ignore this email.</p>
                                <button [ngStyle]="{
                                    'background-color': form.get('settings').get('emailPrimaryColor')?.value,
                                    'color': form.get('settings').get('emailButtonTextColor')?.value
                                }">Accept invite</button>
                            </div>
                        </div>
                        <div class="o-email-preview__footer" [ngStyle]="{ 'color': form.get('settings').get('emailFooterTextColor')?.value }">
                            &copy; RADIONAME
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
            </div>
        </div>
    </form>
</div>
