<app-header emptyTitle="Songs">
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <app-text-input
            [formControl]="search"
            label="Search"
        ></app-text-input>
    </div>
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <td></td>
                    <th>Artist</th>
                    <th>Title</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of (songs$ | async)">
                    <td>
                        <div class="m-image-input__preview"><img [src]="song.graphic?.small" alt=""></div>
                    </td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.title }}</td>
                    <td>
                        <a [routerLink]="song.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination
            [currentPage]="(pagination$ | async)?.currentPage"
            [totalValues]="(pagination$ | async)?.totalEntities"
            [itemsPerPage]="(pagination$ | async)?.itemsPerPage"
            (update)="onPageUpdate($event)">
        </app-pagination>
    </div>
</div>
