<app-loading [loading]="customisationLoading">
    <div class="p-login">
        <div class="p-login__content">
            <img *ngIf="!customisationLoading" [src]="customisation?.logo || '/assets/img/logo-color-light.png'" alt="Logo" class="p-login__logo u-margin-bottom-lg">
            <!-- <h1 class="u-margin-bottom-xs">Login to your Panel</h1> -->
            <ng-container *ngFor="let authMethod of customisation?.authMethods">
                <form [formGroup]="form" (submit)="handleSubmit($event)" *ngIf="authMethod.type === 'local'">
                    <hr>
                    <app-text-input
                        [formControl]="form.get('email')"
                        label="Email"
                        name="email"
                        type="email"
                    ></app-text-input>
                    <app-text-input
                        [formControl]="form.get('password')"
                        label="Password"
                        name="password"
                        type="password"
                    ></app-text-input>
                    <input type="submit" class="a-button" value="Login">
                    <a routerLink="/auth/reset-password" class="u-margin-left">Reset password</a>
                </form>
                <ng-container *ngIf="authMethod.type !== 'local'">
                    <hr>
                    <a [href]="'/api/v1/auth/login/' + authMethod.uuid" class="a-button">Log in with {{ authMethod.name }}</a>
                </ng-container>
            </ng-container>
        </div>
        <div class="p-login__image" [style.backgroundImage]="'url(\'' +  customisation?.authBackground + '\')'"></div>
    </div>
</app-loading>
